.active-page{
    color: #ffc107 !important;
}
ul.timeline{
    list-style-type: none;
    position: relative;
}
ul.timeline::before{
    content: ' ';
    background-color: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li{
    margin: 20px 0; 
    margin-left: 20px;
}
ul.timeline > li:before{
    content: ' ';
    background: #ffff;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.redes{
    font-size: 100px;
}